.fc .fc-daygrid-day-top {
    flex-direction: row
}

.fc-header-toolbar {
    width: auto;

    .fc-toolbar-chunk div {
        display: flex;
        /* gap: 1rem; */
        align-items: center;
    }

    .fc-toolbar-title {
        display: inline-block;
        margin-right: 1rem;
        margin-left: 1rem;
    }
}

.fc .fc-daygrid-day-number,
.fc .fc-col-header-cell-cushion {
    text-decoration: none;
    color: #6c757d;
}

.fc-event-title-container {
    padding: 0.5rem;
    text-align: center;
}

.fc .fc-daygrid-body-natural .fc-daygrid-day-events {
    margin-bottom: 0.5rem;
}

.fc-daygrid-day-frame {
    padding-right: 0.2rem;
    padding-left: 0.2rem;
}

.fc-daygrid-event-harness {
    margin-bottom: 0.2rem;
}

.w-80 {
    width: 80%;
}

.mx-auto {
    margin-right: auto;
    margin-left: auto;
}

.custom-event {
    height: 60px;
    /* 根據需要設置具體的高度值 */
}